/* ==========================================================================
RESET CSS & BOX SIZING
   ========================================================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

/* ==========================================================================
Fonts
   ========================================================================== */

/* Altform - Regular */
@font-face {
    font-family: 'Altform TRIAL';
    src: url('../fonts/Altform-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Altform - Bold */
@font-face {
    font-family: 'Altform TRIAL';
    src: url('../fonts/Altform-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Altform - Black */
@font-face {
    font-family: 'Altform TRIAL';
    src: url('../fonts/Altform-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}


/* ==========================================================================
MAIN STYLES
   ========================================================================== */

:root {
    --gray-color: #E6E6E6;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --yellow-color: #EFD30B;
    --font-family: 'Altform TRIAL';
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-black: 900;
}

body {
    margin: 30px 55px 0px 55px;
    height: 10000000px;
    background-color: var(--gray-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    position: sticky;
    top: 20px;
    z-index: 100;

    >img {
        width: 11.75rem;
        height: 2.625rem;
        cursor: pointer;
    }
}

nav ul {
    display: flex;
    width: 15.6875rem;
    height: 3.5rem;
    padding: 16px 30px 16px 35px;
    border-radius: 35px;
    flex-shrink: 0;
    gap: 50px;
    background: var(--black-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.nav-link {
    font-family: var(--font-family);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    color: rgba(230, 230, 230, 0.62);
    cursor: pointer;

    :hover {
        color: var(--white-color);
        transition: color 0.3s ease-in-out;
    }
}

.order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.4375rem;
    height: 3.5rem;
    flex-shrink: 0;

    border-radius: 35px;
    background: var(--yellow-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    font-family: var(--font-family);
    font-size: 18px;
    font-weight: var(--fw-bold);
    color: var(--black-color);
    cursor: pointer;
}

.hero-section {
    width: 100%;
    min-height: calc(100vh - calc(30px + 30px + 3.5rem));

    display: flex;
    flex-direction: column;

}

.hero-content {
    flex-grow: 0.01;

    display: flex;
    gap: 2.5em;

    >.wiki,
    .tagline {
        width: 50%;
    }
}

.wiki p {
    padding-top: 1.19rem;
    width: 26.75rem;
    flex-shrink: 0;

    color: var(--black-color);
    font-family: var(--font-family);
    font-size: 1.125rem;
    font-weight: var(--fw-regular);
    line-height: normal;
}

.tagline h1 {
    width: 42.1875rem;
    color: var(--black-color);
    font-family: var(--font-family);
    font-size: calc(5.3125rem - 0rem);
    font-weight: var(--fw-bold);
    line-height: 4.8125rem;
}
